#nav{
    margin: 5px;
    border: 2px solid black;
    display: flex;
    justify-content:flex-end;
}
#navright{
    display: inline-block;
    margin: 10px;
}
* {
    box-sizing: border-box;
}
a{
    margin: 20px;
    margin-left: 40px;
    color: black;
    font-size: 20px;
}
#signup-form-div {
    width: 30%;
    margin: auto;
    margin-top: 100px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
form {
    width: 90%;
    margin: auto;
    margin-top: 20px;
}
input {
    width: 90%;
    padding: 8px;
    margin-top: 20px;
    margin:0 15px 10px 15px;
    border-radius: 5px;
    border: 2px solid black;
}
#sub{
    width: 70%;
    margin: auto;
    padding: 7px;
    margin:0 50px 10px 50px;
    border-radius: 10px;
    background-color:crimson;
    color: white;
    cursor: pointer;
}