body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f7f7f7;
    /* color: white; */
}

#mainDiv {
    /* border: 1px solid red; */
    display: flex;
    width: 420px;
    padding: 10px;
    margin: auto;
    margin-top: 2%;
    justify-content: space-between;
}

.member {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 10px;
    width: 120px;
    height: 120px;
    padding: 5px;
    text-align: center;
}

#head {
    text-align: center;
}

#roll {
    margin: auto;
    border: 2px solid white;
    border-radius: 10px;
    background-color: rgba(255, 68, 0, 0.905);
    color: white;
    font-weight: bold;
    padding: 10px;
    margin-left: 45%;
}

#roll:hover {
    cursor: pointer;
    background-color: rgb(255, 68, 0);
}

#winner {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 10px;
    width: 120px;
    height: 120px;
    padding: 5px;
    text-align: center;
    margin: auto;
}